{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content_inner %}
    <div class="fade-in">
        <h1 class="text-4xl font-bold text-center text-white px-12 py-4 text-glow">
  Présentation
</h1>




    </div>
{% endblock %}
