{# templates/home/index.twig.html #}

{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block content_inner %}
    <!-- Point d'entrée pour l'application React -->
    <div id="root"></div>  

{% endblock %}

{% block javascripts %}
    {# Inclusion du fichier JavaScript compilé par Webpack Encore #}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
