@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* Définir l'animation fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Classe pour appliquer l'animation */
.fade-in {
  animation: fadeIn 2s ease-out forwards;
}

/* Navbar Styles */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #42275a; /* Violet sombre */
  z-index: 1000;
  transition: background-color 0.3s ease;
  border-bottom: 2px solid #6a3c8c; /* Ligne violet clair sous la navbar */
}

.navbar:hover {
  background-color: #531c5a; /* Légère éclaircissement du violet au survol */
}

.navbar-container {
  display: flex;
  justify-content: space-between; /* Permet de mettre le logo à gauche et les liens au centre */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
  width: 100%;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem; /* Taille du logo */
  font-weight: bold;
  transition: color 0.3s ease;
  flex-shrink: 0; /* Empêche le logo de se redimensionner ou se déplacer */
}

.links-container {
  display: flex;
  justify-content: center; /* Centre les liens horizontalement */
  align-items: center;
  flex-grow: 1;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-link {
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #9b4de2; /* Violet clair au survol */
  transform: scale(1.1);
}

.nav-link:active {
  transform: scale(0.95);
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to right, #531c5a 0%, #3a0a45 50%, #000000 100%);
  background-size: 200% 100%;
  animation: bg 15s ease infinite;
  min-height: 100%;
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  50% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}
